{% extends "story_1/layout.html" %}
{% load static %}
{% block content %}
	<div class="wrapper">
		<div class="left">
			<img src="{% static '/story_1/images/MX21.jpg' %}" alt="photo-profile" width="80%">
			<h3>Daniel Syahputra Purba</h3>
			<p>Tech Enthusiast | Sophomore Student @ University of Indonesia</p>
			<div class="social-media">
				<a href="https://www.instagram.com/danielsyahputra13/" target="_blank"><img src="{% static '/story_1/images/instagram.svg' %}"></a>
				<a href="https://www.linkedin.com/in/daniel-syahputra-purba-940999175/" target="_blank"><img src="{% static '/story_1/images/linkedin.svg' %}"></a>
				<a href="mailto:dnlshp@gmail.com"><img src="{% static '/story_1/images/gmail.svg' %}"></a>
				<a href="https://github.com/danielsyahputra13" target="_blank"><img src="{% static '/story_1/images/github.svg' %}"></a>
			</div>
		</div>
		<div class="right">
			<h3>Information</h3>
			<div class="description">
				<div class="info">
					<div class="data">
						<h4>NPM</h4>
						<p>1906398793</p>
					</div>
					<div class="data">
						<h4>Angkatan</h4>
						<p>2019</p>
					</div>
					<div class="data">
						<h4>Tempat Kuliah</h4>
						<p>Universitas Indonesia</p>
					</div>
					<div class="data">
						<h4>Hobi</h4>
						<p>Programming, Musik, Berenang</p>
					</div>
					<div class="data">
						<h4>Deskripsi Tentang Saya</h4>
						<p>
							Saat ini Daniel sedang menjalani tingkat 2 di Fasilkom UI.<br>
							Daniel memiliki ketertarikan di Bidang STEM (Science Technology Engineering and Math).
						</p>
					</div>
					<div class="data">
						<h4>Riwayat Pendidikan</h4>
						<p>SD St.Antonius VI Medan</p>
						<p>SMP Negeri 3 Medan</p>
						<p>SMA Negeri 1 Raya</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}