* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: 'Libre Baskerville', sans-serif;
  background-color: rgba(215,221,220,0.86);
  // https://www.svgbackgrounds.com/#scattered-forcefields
  background-image: url("images/Scattered-Forcefields.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  display: inline-block;
  padding: 3% 10%;
  h2 {
    color: rgba(0, 0, 0, 0.86);
    font-weight: bold;
    text-shadow: #FC0 1px 0 10px;
    padding: 10%;
    background-color: rgb(240, 255, 241);
  }
}

.wrapper {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  border-radius: 5px;
//  Transform allow us to rotate, scale, skew, or translate an element.
//  Using translate to move/translate our element in 2D by the vector [x, y]
  width: 60%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(80,76,255,0.86);
  .left {
    width: 50%;
    background: linear-gradient(to right, #66d792, #01dbdf);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: rgba(27, 27, 29, 0.58);
    img {
      border-radius: 10px;
    }
    h3, p {
      padding-top: 5px;
    }
    .social-media {
      padding-top: 20px;
      img {
        width: 30px;
      }
    }
  }
  .right {
    padding: 20px;
    h3 {
      text-transform: uppercase;
      border-bottom: 1px solid #01dbdf;
    }
    .description {
      padding-top: 10px;
      .data {
        padding-top: 10px;
      }
    }
  }
}